# Ignore everything
/*
PigMaps2/
__pycache__/
*.pyc
*.pyo

# Unignore specific files and directories
!/.gitignore  # Ensure the .gitignore itself is tracked
!LICENSE
!README.md
!Model_20_02_2024_V17Nano.pt
!yolo11.pt

# Unignore specific files in the src directory
!src/
!src/CSV.py
!src/PigMaps.py
!src/Print.py
!src/pigParser.py

# Optionally, you can add other files or directories to be tracked here
